.wrap-stats{
    text-align: center;
    color: black;
    background-color: white;
    padding: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 0px 10px 10px 0px;
    h2 {
        margin: 0;
        padding: 0;
    }
}